.deepbackground{
    background-color: #817f7f;
}
.lightbackground{
    background-color: #e2e2e2;
}

.bgRed{
    background-color: #ff0606;
}
.colorBlue{
    color: #06062c;
}

.colorBlack{
    color: #000000;
}
