<!--The content below is only a placeholder and can be replaced.-->
<div style="margin:auto;width:90%" >
  <!-- This is Angular class  -->
  <!-- <app-course></app-course>
  <app-new-course-list></app-new-course-list> -->
  <!-- <app-data-and-event></app-data-and-event> -->
  <!-- <app-pipes></app-pipes> -->
  <!-- <app-favourite [isFavourite]="isFavourite" (favElementChange)="favoriteChange($event)"></app-favourite>
  <p class="alert alert-danger">{{this.favCount}}</p> -->
  <!-- <i class="glyphicon glyphicon-heart"></i> -->

  <!-- <app-sample></app-sample> -->
  <!-- <app-bootstrap-panel>
    <!- - <div class="heading"> - ->
    <ng-container class="heading">
      Heading
    <!- - </div> - ->
    </ng-container>
    <!- - <div class="body"> - ->
    <ng-container class="body">
        <h2>Bootstrap Panel</h2>
        <p>
          This is body Part
        </p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cumque, sequi.</p>
    </ng-container>
    <!- - </div> - ->
  </app-bootstrap-panel> -->
  
  <!-- <app-directives></app-directives> -->
  <!-- <app-contact-form></app-contact-form> -->
  <!-- <app-sign-in></app-sign-in> -->
  <!-- <app-topics></app-topics> -->
  <!-- <app-post></app-post> -->
  <app-comments-list></app-comments-list>
  <!-- <app-rxjs-demo></app-rxjs-demo> -->
</div>


<!-- <router-outlet></router-outlet> -->
